body {
    display: inline;
}

h2 {
    text-align: center;
}
.first {
    width:300px;
    height:444px;
    text-align: center;
    margin: 20px auto;
    border:5px solid #b5b2b2;
    padding:10px;
}

.first header {
    font-weight: bold;
}

.first div:first-of-type{
    text-align: left;
    font-size: 20px;
}



.first div  button {
   
    background-color: rgb(225, 222, 234);
    font-weight: bold;

    
}

.first div span {
    text-decoration: line-through;
}
